:root {
	--color-text-default: #262626;
	--color-text-subtle: #5A5A5A;
	--color-text-primary: #181D27;
	--color-text-secondary: #414651;
	--color-text-error: #D92D20;
	--color-text-disable: #717680;
	--color-text-brand-primary: #006B3B;
	--color-text-accent-green: #008047;
	--color-text-inverse: #FFFFFF;
	--color-bg-info: #DDF4FF;
	--color-bg-accent-gray-subtle: #DDF4FF;
	--color-bg-primary: #D5D7DA;
	--color-bg-brand-primary: #CCE6DA;
	--color-fg-brand-primary: #006B3B;
	--color-bg-brand-primary-solid: #008047;
	--color-border-primary: #006B3B;
	--color-border-primary-brand: #D5D7DA;
	--color-border-primary_bold: #D5D7DA;
	--color-border-brand-primary-subtle: #55AA84;
	--color-gray-40: #D9D9D9;
	--color-gray-500: #939393;
	--color-blue-800: #033D8B;
	--color-icon-subtle: #5A5A5A;
}
